.logo-footer {
    width: 8vh;
}

.socialLogos, .footerContainer, .footerContainer div {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    justify-content: space-around;
}

.socialLogos li{
    padding-left: 10px;
}

.footerContainer div p {
    margin: 0 10px;
}

footer hr{
    margin-bottom: 2px;
}